<footer class="bg-black">
    <div class="container py-11 py-lg-13 d-flex flex-column flex-lg-row justify-content-start justify-content-lg-between align-items-lg-center">
<!--footer左側-->
        <div class="d-flex flex-column justify-content-end">
            <a class="me-lg-6 p-0 mb-7 mb-lg-8" href="index.html">
                <h2 class="text-white">#ZOBBA 
                    <span class="fst-italic">!</span>
                </h2>
            </a>
            <ul class="d-flex flex-column flex-lg-row ps-0">
                <li class="mb-4 mb-lg-0 me-lg-7"><a class="text-white" href="#">常見問題</a></li>
                <li class="mb-4 mb-lg-0 me-lg-7"><a class="text-white" href="#">關於我們</a></li>
                <li class="mb-4 mb-lg-0 me-lg-7"><a class="text-white" href="#">隱私權政策</a></li>
                <li class="mb-4 mb-lg-0 me-lg-7"><a class="text-white" href="#">使用者條款</a></li>
            </ul>
        </div>
<!--footer右側-->
        <div>
            <div class="d-flex mb-4">
                <i class="bi bi-line footer-icon-link text-center border rounded-circle me-4"></i>
                <i class="bi bi-youtube footer-icon-link text-center border rounded-circle me-4"></i>
                <i class="bi bi-facebook footer-icon-link text-center border rounded-circle"></i>
            </div>
            <p class="fz-14 copy-right">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
        </div>



    </div>
</footer>